---
import FormHeader from "../../components/FormHeader.astro";
import Layout from "../../layouts/Layout.astro";
import Campo from "../../components/Campo.astro";
import Button from "../../components/Botones/TinyBoton.astro";
import "../../styles/forms.css";

import { z } from "astro:content";

const schema = z.object({
    claveDepartamento: z.coerce.number().min(1),
});

import { db, Product, ProductDepartment, Department, eq } from "astro:db";

const urlParams = new URL(Astro.request.url).searchParams;
const error = urlParams.get("error");
const success = urlParams.get("success");
const message = urlParams.get("message");

let productos = [];
let departamento = [];

if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const formValues = Object.fromEntries(formData);
    const result = await schema.safeParseAsync(formValues);

    if (!result.success) {
        return Astro.redirect(
            `/precios/consulta?error=true&message=${result.error.issues[0].message}`,
        );
    }

    const { claveDepartamento } = result.data;

    console.log(claveDepartamento);

    departamento = await db
        .select()
        .from(Department)
        .where(eq(Department.clave, claveDepartamento));

    console.log(departamento);

    if (departamento.length === 0) {
        return Astro.redirect(
            `/precios/consulta?error=true&message=El departamento no existe`,
        );
    }

    productos = await db
        .select()
        .from(ProductDepartment)
        .innerJoin(Product, eq(ProductDepartment.claveProducto, Product.clave))
        .where(eq(ProductDepartment.claveDepartamento, claveDepartamento));

    console.log(productos);
}
---

<Layout>
    <FormHeader
        title="Consulta de precios de producto por departamento"
        returnHref="/precios"
    />
    {
        error === "true" && (
            <div class="error-message">
                <p>Error: {message}</p>
            </div>
        )
    }
    {
        success === "true" && (
            <div class="success-message">
                <p>Éxito: {message}</p>
            </div>
        )
    }
    <form id="productoForm" class="general-form" method="post">
        <p class="font-bold text-2xl text-center">
            Formulario <br />consulta de precios
        </p>
        <fieldset>
            <Campo
                forp="claveDepartamento"
                label="Clave del departamento:"
                type="text"
                placeholder="Clave del departamento"
                id="claveDepartamento"
                name="claveDepartamento"
                required
            />
        </fieldset>
        <div class="flex justify-around">
            <Button label="Guardar" isSubmit />
            <Button label="Limpiar" isReset />
        </div>
    </form>
    <div id="tablaContainer" class="mt-8">
        {
            productos.length > 0 ? (
            <div>
                <!-- Mostrar información del departamento -->
                <div class="text-center mb-4">
                    <p class="font-bold text-xl">Departamento: {departamento[0].nombre}</p>
                    <p class="text-gray-600">Clave: {departamento[0].clave}</p>
                </div>

                <!-- Tabla de productos -->
                <table>
                    <thead>
                        <tr>
                            <th class="rounded-tl-2xl">Clave</th>
                            <th >Producto</th>
                            <th class="rounded-tr-2xl">Precio</th>
                        </tr>
                    </thead>
                    <tbody id="priceTableBody">
                        {productos.map((producto) => (
                            <tr>
                                <td class="cell">{producto.Product.clave}</td>
                                <td class="cell">{producto.Product.nombre}</td>
                                <td class="cell">{producto.Product.precio === null ? 'Sin asignar': producto.Product.precio }</td>
                            </tr>
                        ))}
                    </tbody>
                </table>
            </div>
        ) : (
            <p class="text-center mt-4">No hay productos que mostrar</p>
        )
    }
    </div>
</Layout>

<style>
    @reference "../../styles/global.css";
    .cell {
        @apply border text-[1rem] text-center px-3 py-1;
    }
    table {
        @apply w-1/3 table-auto mx-auto mt-4;
    }
    th {
        @apply bg-amber-200 px-6 py-3 text-2xl;
    }
</style>
