---
import FormHeader from "../../components/FormHeader.astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
---

<Layout>
    <FormHeader title="Consulta de Productos" returnHref="/productos/" />
    <table>
        <thead>
            <tr>
                <th class="rounded-tl-2xl">Clave</th>
                <th>Nombre</th>
                <th class="rounded-tr-2xl">Proveedor</th>
            </tr>
        </thead>
        <tbody id="productTableBody">
            <!-- Si hay productos, aparecen despues del fetch -->
        </tbody>
    </table>
    <script>
        async function fetchProductos() {
            const response = await fetch("/api/productos/consulta");
            const data = await response.json();
            if (data.message) {
                alert(data.message);
                return;
            }
            const tbody = document.getElementById("productTableBody");
            tbody.innerHTML = ""; // Limpiar el contenido existente
            data.forEach((producto) => {
                const row = document.createElement("tr");
                const classes = "border text-[1rem] text-center px-3 py-1";
                row.innerHTML = `
                    <td class="${classes}">${producto.id}</td>
                    <td class="${classes}">${producto.nombre}</td>
                    <td class="${classes}">${producto.proveedor}</td>
                `;
                tbody.appendChild(row);
            });
        }

        fetchProductos();
    </script>
    <style>
        @reference "../../styles/global.css";
        table {
            @apply w-1/2 table-auto mx-auto;
        }
        th {
            @apply bg-amber-200 px-6 py-3  text-2xl;
        }
    </style>
</Layout>
